.forthpage {
    width: 100%;
    height: 994px;
    background: url(..//assets/images/background3.png);
}

.frsttxt {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: white;
    margin-bottom: 17px;
}

.maintxt {
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.scndtxt {
    font-size: 18px;
    font-family: 'Poppins';
    color: white;
    margin-top: 20px;
}

.mrgn {
    padding-top: 203px;
}

.firstline {
    float: left;
    width: 459px;
    height: 40px;
}

.ring {
    margin-top: 35px;
    float: left;
}

.nest {
    margin-left: 27px;
    display: inline-block;
    padding-top: 35px;
}

.scndline {
    float: left;
    width: 310px;
    height: 28px;
    margin-top: 106px;
    margin-left: -460px;
}

.googleassistant {
    margin-left: 27px;
    display: inline-block;
}

.arlo {
    margin-left: 23px;
}

.download {
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    color: white;
    float: left;
    padding-top: 191px;
    margin-left: -461px;
}

.downlinks {
    width: 318px;
    height: 54px;
    float: left;
}

.googleplay {
    margin-right: 23px;
    padding-top: 261px;
    margin-left: -461px;
}

.phone {
    float: right;
    margin-top: -300px;
    margin-right: 218px;
    margin-top: -648px;
    transition: 2s;
}

.phone:hover {
    transform: translate(0px, -70px);
    transition: 2s;
    cursor: pointer;
}



